@charset "UTF-8";
/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
        - Universal
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, 
building blocks
        - Framework
6.0 - Components: specific designed components
        - Home
        - About
        - Take Action
        - Navigation 
        - Footer
7.0 - Utilities: utilities and helper classes with ability to override anything 
which goes before in the triangle, eg. hide helper class
        - Color     
--------------------------------------------------------------*/  



/*--------------------------------------------------------------                  
   3.0 - GENERIC                                                                  
-------------------------------------------------------------- */   

/* ----- UNIVERSAL ----- */

*, 
*:after,
*:before {
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    line-height: 2em;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: .9rem;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 1rem;
    }
}

/*--------------------------------------------------------------
   4.0 - ELEMENTS
-------------------------------------------------------------- */


/* ----- TYPOGRAPHY ----- */

a {
    font-family: 'Inter', sans-serif;
    color: #fff;
    text-decoration: none;
}

h1 {
    margin: 0;
    text-align: center;
}

h2 {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 3em;
    color: #FFABE7;
    margin-bottom: 0;
}

header > div:last-child a {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1rem;
    line-height: .5em;
}

h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0;
}

h4 {
    font-weight: 600;
    font-size: 1.3rem;
    color: #FFABE7;
    margin: 4em 0 .5em 0;
}

/*--------------------------------------------------------------
   5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.wrapper {
    width: 95%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.img-responsive {
    max-width: 100%;
}

[class*='col-'] {
    padding: .5em 1.5em;
}

[class*='col-'] [class*='col-'] {
    margin-left: -.5em;
    margin-right: -.5em;
}

.col-sm-1 {
    width: calc(100% * 1 / 12);
}

.col-sm-2 {
    width: calc(100% * 2 / 12);
}

.col-sm-3 {
    width: calc(100% * 3 / 12);
}

.col-sm-4 {
    width: calc(100% * 4 / 12);
}

.col-sm-5 {
    width: calc(100% * 5 / 12);
}

.col-sm-6 {
    width: calc(100% * 6 / 12);
}

.col-sm-7 {
    width: calc(100% * 7 / 12);
}

.col-sm-8 {
    width: calc(100% * 8 / 12);
}

.col-sm-9 {
    width: calc(100% * 9 / 12);
}

.col-sm-10 {
    width: calc(100% * 10 / 12);
}

.col-sm-11 {
    width: calc(100% * 11 / 12);
}

.col-sm-12 {
    width: calc(100% * 12 / 12);
}

@media screen and (min-width: 768px) {

    .wrapper {
        width: 60%;
    }

    [class*='col-'] {
        padding: .5px;
    }

    [class*='col-'] [class*='col-'] {
        margin-left: -.5em;
        margin-right: -.5em;
    }

    .col-md-1 {
        width: calc(100% * 1 / 12);
    }

    .col-md-2 {
        width: calc(100% * 2 / 12);
    }

    .col-md-3 {
        width: calc(100% * 3 / 12);
    }

    .col-md-4 {
        width: calc(100% * 4 / 12);
    }

    .col-md-5 {
        width: calc(100% * 5 / 12);
    }

    .col-md-6 {
        width: calc(100% * 6 / 12);
    }

    .col-md-7 {
        width: calc(100% * 7 / 12);
    }

    .col-md-8 {
        width: calc(100% * 8 / 12);
    }

    .col-md-9 {
        width: calc(100% * 9 / 12);
    }

    .col-md-10 {
        width: calc(100% * 10 / 12);
    }

    .col-md-11 {
        width: calc(100% * 11 / 12);
    }

    .col-md-12 {
        width: calc(100% * 12 / 12);
    }

}

@media screen and (min-width: 1024px) {

    .wrapper {
        width: 70%;
    }

    .col-lg-1 {
        width: calc(100% * 1 / 12);
    }

    .col-lg-2 {
        width: calc(100% * 2 / 12);
    }

    .col-lg-3 {
        width: calc(100% * 3 / 12);
    }

    .col-lg-4 {
        width: calc(100% * 4 / 12);
    }

    .col-lg-5 {
        width: calc(100% * 5 / 12);
    }

    .col-lg-6 {
        width: calc(100% * 6 / 12);
    }

    .col-lg-7 {
        width: calc(100% * 7 / 12);
    }

    .col-lg-8 {
        width: calc(100% * 8 / 12);
    }

    .col-lg-9 {
        width: calc(100% * 9 / 12);
    }

    .col-lg-10 {
        width: calc(100% * 10 / 12);
    }

    .col-lg-11 {
        width: calc(100% * 11 / 12);
    }

    .col-lg-12 {
        width: calc(100% * 12 / 12);
    }
}


/*--------------------------------------------------------------
   6.0 - COMPONENTS
-------------------------------------------------------------- */

body,
body > header > div:first-child {
    background-color: #2E2E2E;
}

header > div:last-child a {
    background-color: #439DE7;
    border-radius: 2em;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    
}

header > div:last-child a:hover,
section a:hover {
    background-color: #fff;
    color: #439DE7;
}

section a {
    font-size: 1rem;
    padding: .5em 1.3em;
}


/* ----- HERO ----- */

body > header {
    background: url("../img/gymnastics-bar-split-mobile.jpg") no-repeat center;
    -moz-backround-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    width: 100vw;
}

#bar-flip {
    background: url("../img/gymnastics-bar-flip.jpg") no-repeat center;
    -moz-backround-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

header li {
    display: inline;
}

header span {
    display: none;
}

header > div:last-child a {
    font-size: 1.5rem;
    padding: .3em 1.5em;
}

header > div:last-child > div {
    padding: 27em 0 4em 0;
    margin-top: 4em;
}

#registration {
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
    line-height: 1.3em;
    padding: 7em 0 3em 0;
}

#logo {
    background: url("../img/SRG-Logo.png") no-repeat center;
    -moz-backround-size: contain;
    -webkit-background-size: contain;
    -o-background-size: contain;
    -ms-background-size: contain;
    background-size: contain;
    height: 5em;
    position: absolute;
    top: -2em;
    left: .5em;
    z-index: 2;
}

header .bg-overlay {
    position: absolute;
    top: 6.8em;
    left: 0;
    padding: 1em 0;
}

@media screen and (min-width: 768px) {

    header span {
        display: contents;
    }

    header li {
        padding: .5em;
        justify-content: flex-end;
    }

    img,
    #img {
        width: 3em;
        justify-content: flex-start;
        margin-right: calc(100% * 11 / 12);
    }

    header .bg-overlay {
        position: absolute;
        top: 9.9em;
        left: 2.5em;
        padding: 1em 13em;
    }

    #logo {
        height: 8em;
        left: -9.5em;
    }

    header > div:last-child > div {
        padding: 28em 0 0 0;
    }

    .button a:hover {
        background-color: #fff;
        color: #439DE7;
    }

    .button a {
        font-size: 1rem;
        padding: .5em 1.3em;
    }

    header ul > li:last-child {
        display: block;
    }

    header li a:hover {
        color: #439DE7;
    }
    .fa-gear:before,
    .fa-paper-plane:before,
    .fa-user:before,
    .fa-bars:before {
        display: none;
    }
    #logo + p span {
        display: block;
        text-align: center;
        font-size: 1.3em;
        padding: 5em 0 0 0;
    }

    body > header {
        background: url("../img/gymnastics-bar-split-desktop.jpg") no-repeat center;
        -moz-backround-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        width: 100vw;
    }

    #registration {
        font-size: 5rem;
        padding: 5em 0 2.5em 0;
    }

    #classes-btn {
        margin-left: calc(100% * 4 / 12);
        padding: 2em 0 5em 0;
    }
    
}


/* ----- NAV ----- */

li {
    list-style-type: none;
}

i:hover {
    color: #FFABE7;
}

@media screen and (max-width: 768px) {
    header nav {
        background-color: #2E2E2E;
        padding: 0;
        position: fixed;
        bottom: 0;
        left: 0;
    }
}

@media screen and (min-width: 768px) {
    header nav {
        background-color: none;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: calc(100% * 5 / 12);
    }

    header ul {
        text-align: right;
    }

    header i {
        display: none;
    }
}
@media screen and (min-width: 1024px) {
    header nav {
        position: fixed;
        top: 0;
        left: 0;
    }

    .header-nav {
        background-color: #439DE7;
        border-radius: 2em;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
    }

    .header-nav:hover {
        background-color: #fff;
        color: #439DE7;
    }

}

/* ----- PLAY DAYS, GYMS + PARTIES ----- */

#play-days div,
#gyms div,
#parties div {
    padding: 5em;
    border-radius: 7em;
    margin: 0 auto;
    margin-bottom: 1.5em;
}

#plays-days h2,
#gyms h2,
#parties h2 {
    text-align: center;
}

#play-days div {
    background: url("../img/foam-pit.jpg") no-repeat center;
    -moz-backround-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
   
}

#gyms div {
    background: url("../img/play-gym.jpg") no-repeat center;
    -moz-backround-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}


#parties div {
    background: url("../img/birthday-balloons.jpg") no-repeat center;
    -moz-backround-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

#play-days,
#gyms,
#parties {
    text-align: center;
}

.pd-margin-b {
    margin-bottom: 0;
}

.pd-margin-t {
    margin-top: 0;
}

main > div:first-child {
    margin-bottom: 5em;
}

@media screen and (min-width: 768px) {
    #play-days,
    #gyms,
    #parties {
        text-align: center;
        margin-left: calc(100% * 0 / 12);
    }

    #play-days div {
        padding: 5em;
        border-radius: 5em;
    }

    #gyms div {
        padding: 5em 5em;
        border-radius: 5em;
    }

    #parties div {
        padding: 5em 5em;
        border-radius: 5em;
    }

    #gyms {
        padding: 0 2em;
    }
}


/* ----- 80 YEARS OF COACHING ----- */

#bg-stadium {
    background-image: url("../img/empty-gymnasium-mobile.jpg");
}

#bg-stadium h2 {
    color: #fff;
    font-size: 1.5rem;
    text-align: left;
    line-height: 1.5em;
}

#bg-stadium section {
    margin-left: calc(100% * 1 / 12);
    padding: 3.5em 0;
}

@media screen and (min-width: 768px) {
    #bg-stadium {
        background-image: url("../img/empty-gymnasium-desktop.jpg");
        -moz-backround-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
    }

    #bg-stadium section {
        margin-left: calc(100% * 6 / 12);
        padding: 5em 0;
    }

    #bg-stadium .justify-content {
        margin-top: 2.5em;
    }

}


/* ----- COACHES ----- */

#coaches > div section,
#coaches h2 {
    text-align: center;
}

#mark {
    background: url("../img/mark-springett.jpg") no-repeat center;
    -moz-backround-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    padding: 10em;
    border-radius: 10em;
    margin: 0 auto;
    margin-bottom: 1.5em;
}

#sheila {
    background: url("../img/sheila-boothe.jpg") no-repeat center;
    -moz-backround-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    padding: 10em;
    border-radius: 10em;
    margin: 0 auto;
    margin-bottom: 1.5em;
}

#coaches p {
    margin: 1em 0 3em 0;
    line-height: 0;
    font-style: italic;
    font-weight: 300;
    font-size: .8rem;
    color: #D9D9D9;
    text-align: center;
}

#coaches a {
    font-style: normal;
}

#coaches {
    margin-bottom: 7em;
}

@media screen and (min-width: 768px) {

    #sheila,
    #mark,
    #giang,
    #caroline {
        padding: 7em 2em;
        border-radius: 7em;
        margin: 0 auto;
    }

    #giang {
        background: url("../img/miss-giang.jpg") no-repeat center;
        -moz-backround-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
    }

    #caroline {
        background: url("../img/caroline-clements.jpg") no-repeat center;
        -moz-backround-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
    }

    
}

/* ----- REVIEWS ----- */

#bg-back-kick {
    background-image: url("../img/dramatic-back-kick-mobile.jpg");
    padding: 3.5em 0;
}

#bg-back-kick .fa-solid {
    color: #FFABE7;
    font-size: .8rem;
}

#bg-back-kick ul {
    padding: 0 0 0 .5em;
}

@media screen and (min-width: 768px) {
    #bg-back-kick {
        background-image: url("../img/dramatic-back-kick-desktop.jpg");
        -moz-backround-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
    }

    #bg-back-kick .justify-content {
        margin-top: 2.5em;
    }

    #bg-back-kick section {
        padding: 5em 0;
    }
}

/* ----- PARENT TOT ----- */

#parent-tot {
    background: url("../img/little-boy.jpg") no-repeat center;
    -moz-backround-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    padding: 12em 2em;
    border-radius: 13em;
    margin: 5em 0 1.5em 0;
}

#classes > div,
footer {
    background-color: #000000;
}

#classes > div,
#classes > section {
    padding-bottom: 4em;
}

#classes p {
    font-weight: 300;
}

.italic {
    font-style: italic;
}

#classes h2 {
    text-transform: uppercase;
    margin-top: .5em;
}

#classes h3 {
    margin-top: .5em;
}

#classes p {
    margin: 0 0 .3em 0;
}

#classes .col-sm-10 {
    margin-left: calc(100% * 1 / 12);
}

#classes a {
    padding: .5em 2.3em;
}

#classes .justify-content {
    margin-top: 2em;
}


@media screen and (min-width: 768px) {
    #parent-tot {
        border-radius: 13em;
        height: 50%;
        width: 50%;
    }
}

/* ----- JUNIOR CLASSES ----- */

#junior-classes {
    background: url("../img/little-girl.jpg") no-repeat center;
    -moz-backround-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    padding: 12em 2em;
    border-radius: 13em;
    margin: 4em 0 1.5em 0;
}

@media screen and (min-width: 768px) {
    #junior-classes {
        /* padding: 3em 2em;
        border-radius: 12em;
        margin: 8em 0; */
        border-radius: 13em;
        height: 50%;
        width: 50%;
    }

    .reverse {
        flex-direction: row-reverse;
    }
}

/* ----- SCHOOL AGE CLASSES ----- */

#school-age-classes {
    background: url("../img/school-age-girl.jpg") no-repeat center;
    -moz-backround-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    padding: 12em 2em;
    border-radius: 13em;
    margin: 8em 0 1.5em 0;
}

@media screen and (min-width: 768px) {
    #school-age-classes {
        /* padding: 12em 2em;
        border-radius: 13em;
        margin: 5em 0 1.5em 0; */
        border-radius: 13em;
        height: 50%;
        width: 50%;
    }
}

/* ----- ADULT GYMNASTICS ----- */

#adult-gymnastics {
    background: url("../img/adult-gymnastics.jpg") no-repeat center;
    -moz-backround-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    padding: 12em 2em;
    border-radius: 13em;
    margin: 8em 0 1.5em 0;
}

@media screen and (min-width: 768px) {
    #adult-gymnastics {
        /* padding: 12em 2em;
        border-radius: 13em;
        margin: 5em 0 1.5em 0; */
        border-radius: 13em;
        height: 50%;
        width: 50%;
    }
}

/* ----- FOOTER ----- */

footer p {
    font-weight: 600;
    font-size: .9rem;
    margin: 0;
    line-height: 1.8em;
}
#office-hours {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: .2em;
}

address p {
    font-style: normal;
    margin-top: .5em;
}

address a {
    font-size: .9rem;
    background-color: transparent;
    padding: 0;
}

address a:hover {
    background-color: transparent;
    color: #FFABE7;
}

footer nav {
    display: none;
}

#contact-us {
    margin: 1.5em 0 6em 0;
}

@media screen and (min-width: 768px) {
    footer nav {
        display: contents;
    }

    footer ul {
        margin-top: 6em;
        margin-right: calc(100% * 5 / 12);
    }

    footer ul li {
        text-align: center;
    }

    footer nav a:hover {
        color: #FFABE7;
    }
}



/*--------------------------------------------------------------
   7.0 - UTILITY
-------------------------------------------------------------- */

.pos-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
}
.btn {
    background-color: #439DE7;
    border-radius: 2em;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.justify-content {
    text-align: center;
}

.hide-sm {
    display: none;
}


@media screen and (min-width: 768px) {
    .hide-sm {
        display: block;
    }

    .class-padding {
        padding: 3em 0em;
    }
}